@using System.Linq;
@using System.Collections.Generic;
@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root class="column">
    <div id="mainPanel">
        <div id="leftPanel" class="column">
            <div id="cargoValuePanel" class="column">
                <div class="header center-content">CARGO PRICES</div>
                <div class="info center-content">Rarer asteroids yield more valuable metals. Keep exploring!</div>
                <div id="valueList" class="column">
                    @foreach (var value in GetAllCargoValues().OrderBy( c => c.CurrentValue ) )
                    {
                        <div class="cargo-value">
                            <Image Texture=@value.Cargo.InventoryIcon/>
                            <p class="name">@value.Cargo.Name</p>
                            <p class="price">@value.CurrentValue CR</p>
                        </div>
                    }
                </div>
            </div>
            <div id="sellPanel" class="column">
                <div id="sellTitle" class="center-content header">SELL CARGO</div>
                <div id="cargoList" class="column">
                    @foreach( var (item, count) in GetShipCargoGrouped())
                    {
                        <div class="cargo">
                            <Image Texture=@item.InventoryIcon/>
                            <div id="mainColumn" class="column">
                                <h3 class="name center-content">@item.Name X @count</h3>
                                <div id="sellBar">
                                    <p>SELL: </p>
                                    <div class="sell-section">
                                        <div id="sellButton" class="button" onclick=@(() => SellCargo( item ) )>
                                            <p>1</p>
                                        </div>
                                        <p class="price">@GetCargoValue( item, 1 ) CR</p>
                                    </div>
                                    <vr/>
                                    <div class="sell-section">
                                        <div id="sellAllButton" class="button" onclick=@(() => SellAllCargo( item ) )>
                                            <p>ALL</p>
                                        </div>
                                        <p class="price">@(GetCargoValue(item, count)) CR</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div id="buyPanel" class="column">
            <div id="buyTitle" class="center-content header">BUY EQUIPMENT</div>
            @foreach( var upgrade in _availableUpgrades)
            {
                <div class="upgrade">
                    <Image Texture=@upgrade.Thumbnail/>
                    <div id="infoColumn" class="column center-content">
                        <h3 class="name center-content">@upgrade.Name</h3>
                        <p class="description">@upgrade.FunctionText</p>
                        <p class="flavor">@upgrade.FlavorText</p>
                    </div>
                    <div id="buyColumn" class="column center-content">
                        <h2 class="price @(CanAfford(upgrade) ? "" : "insufficient")">@upgrade.Cost CR</h2>
                        <div id="buyButton" class="button center-content @(CanAfford(upgrade) ? "" : "disabled")" onclick=@(() => BuyUpgrade( upgrade ))>BUY</div>
                    </div>
                </div>
            }
            <!--TODO: List all of the cool things you can buy.-->
        </div>
    </div>
    <div id="bottomBar">
        <p id="creditsDisplay">@(Career.Active.Money) CREDITS</p>
        <LaserOptions/>
        <div id="exitButton" class="button" @onclick=@Exit>EXIT</div>
    </div>
</root>

@code
{

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine( Career.Active.Money, GetAllShipCargo() );

    [Property] public Shop Shop { get; set; }
    [Property] public ShipController Ship { get; set; }

    private List<Upgrade> _availableUpgrades;

    private bool CanAfford(Upgrade upgrade) => Career.Active.HasMoney(upgrade.Cost);

    protected override void OnEnabled()
    {
        base.OnEnabled();

        Ship = ShipController.GetCurrent();
        FetchAvailableUpgrades();
    }

    protected override void OnUpdate()
    {
        if ( Input.EscapePressed || !ShipController.GetCurrent().IsValid())
        {
            Exit();
            return;
        }
    }

    private void Exit()
    {
        Enabled = false;
        Shop.EjectPlayer();
    }

    private IEnumerable<CargoValue> GetAllCargoValues()
    {
        return Shop.GetAllCargoValues();
    }

    private int GetCargoValue( CargoItem item, int quantity )
    {
        return Shop.GetValue( item, quantity );
    }

    private Dictionary<CargoItem, int> GetShipCargoGrouped()
    {
        var allCargo = GetAllShipCargo();
        var cargoTypes = allCargo.Distinct().OrderBy( c => c.BaseValue );
        var grouped = new Dictionary<CargoItem, int>();
        foreach( var distinct in cargoTypes)
        {
            grouped[distinct] = allCargo.Where(c => c == distinct).Count();
        }
        return grouped;
    }

    private IEnumerable<CargoItem> GetAllShipCargo()
    {
        if (!Ship.IsValid() || !Ship.Cargo.IsValid())
            return Enumerable.Empty<CargoItem>();

        return Ship.Cargo.Items;
    }

    private void SellCargo( CargoItem item )
    {
        Shop.SellItem(item, Ship);
    }

    private void SellAllCargo( CargoItem item)
    {
        while( GetAllShipCargo().Any( c => c == item ))
        {
            Shop.SellItem(item, Ship);
        }
    }

    private void FetchAvailableUpgrades()
    {
        _availableUpgrades = Career.Active
            .GetAvailableUpgrades()
            .OrderBy( u => u.Cost )
            .ToList();
        StateHasChanged();
    }

    private void BuyUpgrade( Upgrade upgrade)
    {
        Shop.BuyUpgrade(Ship, upgrade);
        FetchAvailableUpgrades();
        StateHasChanged();
    }
}
